<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="@Url.Content("~/bower_components/jquery/dist/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/bower_components/bootstrap/dist/js/bootstrap.min.js")"></script>

    @RenderSection("CustomScripts", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
